[submodule "head/navigation/Pathfinder"]
	path = head/navigation/Pathfinder
	url = https://github.com/utk-robotics-2016/Pathfinder.git
[submodule "torso/ArduinoGen"]
	path = torso/ArduinoGen
	url = https://github.com/utk-robotics-2016/ArduinoGen.git
