[submodule "head/navigation/navx_python"]
	path = head/navigation/navx_python
	url = git@github.com:utk-robotics-2017/navx_python.git
[submodule "head/navigation/pathfinder_python"]
	path = head/navigation/pathfinder_python
	url = git@github.com:utk-robotics-2017/pathfinder_python.git
[submodule "head/spine/py_cmd_messenger"]
	path = head/spine/py_cmd_messenger
	url = git@github.com:utk-robotics-2017/py_cmd_messenger.git
[submodule "torso/arduino_gen"]
	path = torso/arduino_gen
	url = git@github.com:utk-robotics-2017/arduino_gen.git
